<div class="column is-half-desktop is-full-tablet is-full-mobile">
    <div class="notification p-0">
        <div class="columns is-gapless">
            <div class="columns is-gapless pl-5 pr-6 pt-3 m-0" id="stockWidget1-<%=widget.position%>">
                <div class="column is-narrow">
                    <p id="stockSymbol1-<%=widget.position%>">APPL</p>
                    <p id="stockName1-<%=widget.position%>" class="title is-5 pb-2">Apple Inc.</p>
                    <h1 class="title is-4" id="stockValue1-<%=widget.position%>">135,25 USD</h1>
                    <p id="stockDiff1-<%=widget.position%>" class="subtitle is-5 pb-2">-1.5 USD</p>
                </div>
            </div>
            <div class="columns is-gapless pl-5 pr-6 pt-3 m-0" id="stockWidget2-<%=widget.position%>">
                <div class="column is-narrow">
                    <p id="stockSymbol2-<%=widget.position%>">APPL</p>
                    <p id="stockName2-<%=widget.position%>" class="title is-5 pb-2">Apple Inc.</p>
                    <h1 class="title is-4" id="stockValue2-<%=widget.position%>">135,25 USD</h1>
                    <p id="stockDiff2-<%=widget.position%>" class="subtitle is-5 pb-2">-1.5 USD</p>
                </div>
            </div>
        </div>
    </div>
</div>