<style>
    .Twitter {background-size: cover;}
</style>

<div class="column is-half-desktop is-full-tablet is-full-mobile">
    <div class="notification is-primary weather" id="TwitterAccountWidget-<%=widget.position%>">
        <div class="columns is-gapless">
            <div class="column">
                <img src="/img/twitter_icon.png" id="TwitterIcon-<%=widget.position%>" />
            </div>
            <div class="column is-narrow" style="margin-top: 0.5em;">
                <h3 class="subtitle is-4" style="text-transform: capitalize;" id="TwitterName-<%=widget.position%>">God Widget Creator</h3>
                <h1 class="title is-3" id="Twitterdisriminator-<%=widget.position%>">@LeSuperCreateurDeCeWidget</h1>
            </div>
            <div class="column">
                <p id="FollowersName-<%=widget.position%>">Followers</p>
                <p id="Followers-<%=widget.position%>">8.000.000</p>
            </div>
            <div class="column"></div>
            <div class="column"></div>
            <div class="column">
                <p id="FollowName-<%=widget.position%>">Follow</p>
                <p id="Follow-<%=widget.position%>">50.000</p>
            </div>
        </div>
    </div>
</div>
