<div class="column is-half-desktop is-full-tablet is-full-mobile">
  <div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img src=<%=iconname%>>
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4"><%=title%></p>
          <p class="subtitle is-6"><%=subtitle%></p>
        </div>
      </div>
      <div class="content">
        <%=description%>
        <br>
      </div>
    </div>
    <footer class="card-footer">
      <a href='/add?widgetname=<%=widgetname%>' class="card-footer-item has-text-success">Ajouter</a>
    </footer>
  </div>
</div>