<div class="drop__card">
    <div class="drop__data">
        <img src=<%=iconname%> alt="" class="image is-48x48">
        <div class="ml-3">
            <h1 class="title is-5 m-0"><%=title%> </h1>
            <span class="subtitle is-6 m-0"><%=subtitle%> </span>
        </div>
    </div>

    <div>
        <a href="/up?of=<%=widgetname%>&number=<%=position%>"><button class="button is-light"><i
                    class='bx bx-up-arrow' style="font-size: 1.25rem;"></i></button></a>
        <a href="/down?of=<%=widgetname%>&number=<%=position%>"><button class="button is-light"><i
                    class='bx bx-down-arrow' style="font-size: 1.25rem;"></i></button></a>
        <a href="/edit?of=<%=widgetname%>&number=<%=position%>"><button class="button is-info">Modifier<i
                    class='bx bxs-edit' style="font-size: 1.25rem;"></i></button></a>
        <a href="/remove?widgetname=<%=widgetname%>&number=<%=position%>"><button class="button is-danger">Supprimer <i
                    class="bx bxs-trash" style="font-size: 1.25rem;"></i></button></a>
    </div>
</div>