<!-- //////// SERVICE Bourse //////// -->
<h2 class="title is-3">Bourse</h2>
<div class="columns is-multiline is-mobile is-narrow-desktop">
    <%- include('./presentation-tile', {
        iconname: "/img/currecyconverter.png",
        title: "Convertisseur de devises",
        subtitle: "Bourse",
        description: "Convertisser la valeur d'une monnaie rapidement",
        widgetname: "currencyconverter",
    }); -%>

    <%- include('./presentation-tile', {
        iconname: "/img/stockexchanges.png",
        title: "Cours Boursier",
        subtitle: "Bourse",
        description: "Suivez le cours de vos actions ou entreprise préféré",
        widgetname: "stockexchanges",
    }); -%>
</div>
<br>

<!-- //////// SERVICE Cinema //////// -->
<h2 class="title is-3">Cinéma</h2>
<div class="columns is-multiline is-mobile is-narrow-desktop">
    <%- include('./presentation-tile', {
        iconname: "/img/film_icon.png",
        title: "Movie Finder",
        subtitle: "Cinema",
        description: "Trouver un film facilement ici !",
        widgetname: "findmovie",
    }); -%>

</div>
<br>


<!-- //////// SERVICE Epitech //////// -->
<h2 class="title is-3">Epitech</h2>
<div class="columns is-multiline is-mobile is-narrow-desktop">
    <%- include('./presentation-tile', {
        iconname: "/img/Epitech-Icon.png",
        title: "Epitech Intranet",
        subtitle: "Infos",
        description: "Suivez votre année, et vos informations sur votre scolarité en un coup d'oeil",
        widgetname: "epitechinfos",
    }); -%>
</div>
<br>

<!-- //////// SERVICE Github //////// -->
<h2 class="title is-3">Github</h2>
<div class="columns is-multiline is-mobile is-narrow-desktop">
    <%- include('./presentation-tile', {
        iconname: "/img/github_icon.png",
        title: "GithubAccount",
        subtitle: "Github",
        description: "Visualisez n'importe quel profile Github depuis ce widget",
        widgetname: "githubaccount",
    }); -%>
</div>

<!-- //////// SERVICE Google //////// -->
<h2 class="title is-3">Google</h2>
<div class="columns is-multiline is-mobile is-narrow-desktop">

    <%- include('./presentation-tile', {
        iconname: "/img/googlecalendar.png",
        title: "Google Calendar",
        subtitle: "Google",
        description: "Qu'est-ce que youtube vous recommande aujourd'hui ?",
        widgetname: "googlecalendar",
    }); -%>

    <%- include('./presentation-tile', {
        iconname: "/img/news_icon.png",
        title: "Google News",
        subtitle: "Google News",
        description: "Que vous reserve le monde ?",
        widgetname: "googlenews",
    }); -%>
</div>

<!-- //////// SERVICE Horloge //////// -->
<h2 class="title is-3">Horloge</h2>
<div class="columns is-multiline is-mobile is-narrow-desktop">
    <%- include('./presentation-tile', {
        iconname: "/img/numericclock.svg",
        title: "Date et Heure : Numérique",
        subtitle: "Horloge",
        description: "Connaitre la date et l'heure simplement et facilemnt",
        widgetname: "numerictime",
    }); -%>

    <%- include('./presentation-tile', {
        iconname: "/img/numericclock.svg",
        title: "Date et Heure : Analogic",
        subtitle: "Horloge",
        description: "Connaitre la date et l'heure simplement et facilement ! VERSION HORLOGE",
        widgetname: "analogictime",
    }); -%>
</div>

<!-- //////// SERVICE Météo //////// -->
<h2 class="title is-3">Météo</h2>
<div class="columns is-multiline is-mobile is-narrow-desktop">
    <%- include('./presentation-tile', {
        iconname: "/img/weather_icon/02d.png",
        title: "Météo en direct",
        subtitle: "Météo",
        description: "Soyez au courant de la météo actuellement dans la ville de votre choix !",
        widgetname: "liveweather",
    }); -%>

    <%- include('./presentation-tile', {
        iconname: "/img/weather_icon/01d.png",
        title: "Météo (Double)",
        subtitle: "Météo",
        description: "Soyez au courant de la météo actuellement dans les deux villes de votre choix !",
        widgetname: "doubleweather",
    }); -%>

    <%- include('./presentation-tile', {
        iconname: "/img/weather_icon/09d.png",
        title: "Météo sur 5 Jours",
        subtitle: "Météo",
        description: "Quel temps fera-t'il cette semaine ? Regarder d'un simple coup d'oeil le temps qu'il fera dans votre ville",
        widgetname: "weekweather",
    }); -%>
</div>
<br>

<!-- //////// SERVICE Medical //////// -->
<h2 class="title is-3">Santé</h2>
<div class="columns is-multiline is-mobile is-narrow-desktop">
    <%- include('./presentation-tile', {
        iconname: "/img/virus_icon.png",
        title: "COVID-19",
        subtitle: "Santé",
        description: "Comment évolue la situation sur la pandémie mondial ?",
        widgetname: "sickness",
    }); -%>
</div>
<br>

<!-- //////// SERVICE Server //////// -->
<h2 class="title is-3">Server</h2>
<div class="columns is-multiline is-mobile is-narrow-desktop">
    <%- include('./presentation-tile', {
        iconname: "/img/server_icon.png",
        title: "Server Pinger",
        subtitle: "ServerPinger",
        description: "Est-ce que ce server est en ligne ?",
        widgetname: "serverpinger",
    }); -%>
</div>
<br>
